#navBarTitle{
    font-family: 'Times New Roman', Times, serif;
}
#about{
    font-family: 'Times New Roman', Times, serif;
}
#catPic{
    width:160px;
    margin-right:10px;
    margin-bottom:10px;
}
.myBackground{
    background-image: url("../Images/bg2.jpg");
    
}
footer{
    border-top:5px solid black;
}


/* README.md said to minimize @media queries, and only specified width for xs,
    so I'll just use the bootstrap classes instead of writing my own  */
/* @media only screen and (max-width: 400px) {

    #mainContent{
        width:100%;
    }
  } */