#navBarTitle{
    font-family: 'Times New Roman', Times, serif;
}
.headers-BD{
    font-family: 'Times New Roman', Times, serif;
}
#catPic{
    width:160px;
    margin-right:10px;
    margin-bottom:10px;
}
.background-BD{
    background-image: url("../Images/bg2.jpg");
    
}
.scroll-BD{
    overflow-y: scroll;
    margin-bottom: 7rem;
}
.galleryThumbnail-BD{
    /* Photos might be of any size, and may not necessarily be square
    Setting a specific width and height ensures that they will be automatically
    cropped to 350x350, as specified in design screenshot 
    
    This was influenced by the discussion here:
    https://stackoverflow.com/questions/42680085/how-do-i-make-images-display-as-a-square
    */
    overflow:hidden;
    width:225px;
    height:225px;
} 
.galleryThumbnail-BD img{
    width:100%;
}
.galleryThumbnail-BD img.landscape{
    padding-top:10%;
}

footer{
    border-top:5px solid black;
}


/* README.md said to minimize @media queries, and only specified width for xs,
    so I've tried to just use the bootstrap classes instead of writing my own  
    However, I'm explicitly setting the height and width of the portfolio gallery images
    so I'll need to update that here.*/
 
@media only screen and (max-width: 575px) {

    .galleryThumbnail-BD{
        overflow:hidden;
        width:300px;
        height:300px;
    } 

} 


@media only screen and (min-width: 768px) {

    .galleryThumbnail-BD{
        overflow:hidden;
        width:125px;
        height:125px;
    } 

}
@media only screen and (min-width: 1024px) {

    .galleryThumbnail-BD{
        overflow:hidden;
        width:250px;
        height:250px;
    } 

}
